<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2"
        android:usesCleartextTraffic="true">
        <activity android:name=".RecycleViewTest">

        </activity>
        <activity android:name=".GlideActivity" />
        <activity android:name=".MeiTuan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityResultTest.ActivityResultTestActivity"/>
        <activity android:name=".ActivityResultTest.FirstActivity"/>
        <activity android:name=".ActivityResultTest.SecondActivity"/>
        <activity android:name=".ActivityResultTest.ThirdActivity"/>
        <activity android:name=".VisibilityTest.VisibilityTestActivity"/>
    </application>

</manifest>